:root {
  --gradient-one: #0466c8, #0353a4, #023e7d, #002855, #001845, #001233, #33415c,
    #5c677d, #7d8597, #979dac;
  --gradient-two: #172121, #444554, #7f7b82, #bfacb5, #e5d0cc;
}

.navtitle {
  color: white;
  padding: 20px;
  font-size: 28px;
  border-right: 0.5px solid rgb(83, 83, 146);
  cursor: pointer;
}

.navtitle:hover {
  color: #7f7b82;
}

.searchbar {
  padding: 20px;
  align-items: right;
  right: 0px;
  justify-content: right;
  min-width: 10vw;
}

.searchplayer {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgb(24, 24, 43);
  min-width: 300px;
}

.searchplayer:hover {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid rgb(83, 83, 146);
}

.searchplayer:focus {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid rgb(83, 83, 146);
  outline: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 24, 43);
  border-bottom: 0.5px solid rgb(83, 83, 146);
  margin-bottom: 10px;
}

.gradient {
  background: linear-gradient(to right, var(--gradient-two));
  min-width: 100vw;
  min-height: 100vh;
  background-size: 400%;

  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 40s ease infinite;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
